<% provide(:title, "About") %>

<h1>About</h1>
Developed to support <%= link_to "Croatian Run Restaurants in Los Angeles", "https://secure-shore-68966.herokuapp.com" %>, 
but also because I saw a general need and leveraged the work of <p><a href="http://stevemorse.org/census/changes/LosAngelesChanges2.htm">Los Angeles in the 1900s&mdash;Streets of a Hundred Years Ago</a>. Morse's site is a treasure trove of historical and geneological information. Almost all of the information is from this resource. I've added the ability to put that information on a map. </p>
<p>The scanned maps came from sources linked to on the map. All georeferencing was done using QGIS.</p>

<p>For status of the development of the site see the <%= link_to "GitHub repository", "https://github.com/MtnBiker/historical-streets-la" %> GitHub repository. All open source.</p>
