<% provide(:title, "Acknowledgements") %>

<h1>Acknowledgements</h1>
<p>
  This is the acknowledgements page and obviously needs some additions, but you can look at the <%= link_to "acknowlegements for a related project", "http://keeptherubbersidedown.com/acknowlegements" %>.
  
  
  For now the action is here:
  <div class="btn btn-primary active">
    <%= link_to 'To List of Historical Streets', streets_path %>
  </div>
</p>
