<% provide(:title, "Acknowledgements") %>

<h1>Acknowledgements</h1>
<p>This will be the acknowledgements page, but for now you can look at the <%= link_to "acknowledgements for a related project", "https://secure-shore-68966.herokuapp.com/acknowledgements" %> which uses many of the same resources.</p>
<p>Also Recent activities at MaptimeLA visiting CSUN and UCLA (expand).</p>

<div class="btn btn-primary active">
  <%= link_to 'To List of Historic Street Names', streets_path %>
</div>
