<% provide(:title, "Acknowledgements") %>

<h1>Acknowledgements</h1>
<p>This will be the acknowledgements page, but you can look at the <%= link_to "acknowlegements for a related project", "http://keeptherubbersidedown.com/acknowlegements" %> which uses many of the same resources.</p>
  
    <div class="btn btn-primary active">
    <%= link_to 'To List of Historical Streets', streets_path %>
  </div>
</p>
