<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

<ul class="users">
  <%= render @users %> <!-- See Hartl Listing 10.52 for variations in syntax -->
</ul>

<%= will_paginate %>