<div id="map">
<script>
// Links for attribution
  var osmLink  = '<a href="https://openstreetmap.org">OpenStreetMap</a>',
      osmCopy = '<a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>',
      mapboxCopy = '<a href="https://www.mapbox.com/map-feedback/">Mapbox</a>'
      esriLink = '<a href="https://www.esri.com/">Esri</a>',
      mbLink   = '<a href="https://mapbox.com/">OpenStreetMap</a>',
      rumseyLink = '<a href="http://www.davidrumsey.com">The David Rumsey Map Collection</a>',
      csunLink = ""

// Map tile URLs
  var osmUrl    = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
    esriUrl   = 'https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServe\
r/tile/{z}/{y}/{x}',
    mbUrl = 'https://api.tiles.mapbox.com/v4/mtnbiker.d7jfhf8u.json?access_token=pk.eyJ1IjoibXRuYmlrZXIiLCJhIjoiNmI5ZmZjMzAyNzJhY2Q0N2ZlN2E1ZTdkZjBiM2I1MTUifQ.6R3ptz9ejWpxcdZetLLRqg', 
    Hill1928url = 'http://mapwarper.net/maps/tile/2935/{z}/{x}/{y}.png',
    baistDetailurl = '//knobby.ws/crorestiles/tiles/{z}/{x}/{y}.png', 
    baistKMurl = "//knobby.ws/crorestiles/bkm/{z}/{x}/{y}.png",
    street1902URL = "//knobby.ws/crorestiles/street1902/{z}/{x}/{y}.png",
    wood1902URL = "//knobby.ws/crorestiles/wood1908/{z}/{x}/{y}.png",
    sanborn1894km1aURL = "//knobby.ws/crorestiles/sanborn1894km1a/{z}/{x}/{y}.png",
    sanborn1888km1aURL = "//knobby.ws/crorestiles/sanborn1888km1a/{z}/{x}/{y}.png",
    googleUrl = 'http://www.google.cn/maps/vt?lyrs=s@189&gl=cn&x={x}&y={y}&z={z}'
    
// Attribution
    var osmAttrib = '&copy; ' + osmLink + ' Contributors',
    esriAttrib = 'i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP,\
 and the GIS User Community & '+ esriLink,
    mbAttrib = '&copy; ' + mapboxCopy + '&copy;' + osmCopy,
    mwAttrib ='https://thinkwhere.wordpress.com',
    wood1908Attrib = rumseyLink,
    baistAttrib = rumseyLink,
    csun1894Attrib = csunLink,
    csun1888Attrib = csunLink
    
// Putting together 
  var mbMap       = L.tileLayer(mbUrl,        {attribution: mbAttrib}),
      osmMap      = L.tileLayer(osmUrl,       {attribution: osmAttrib}),
      esriMap     = L.tileLayer(esriUrl,      {attribution: esriAttrib}),
      google      = L.tileLayer(googleUrl,      {attribution: 'Google'}),
      hillMap1928 = L.tileLayer(Hill1928url,  {attribution: mwAttrib}),
      baistDetail = L.tileLayer(baistDetailurl, {attribution: baistAttrib}),
      baistKM     = L.tileLayer(baistKMurl,   {attribution: baistAttrib}),
      street1902  = L.tileLayer(street1902URL),
      wood1908    = L.tileLayer(wood1902URL,  {attribution: wood1908Attrib}),
      sanborn1894km1a = L.tileLayer(sanborn1894km1aURL,  {attribution: csun1894Attrib}),
      sanborn1888km1a = L.tileLayer(sanborn1888km1aURL,  {attribution: csun1888Attrib})
      
    
    var baseLayers = {
      "<span style='color: orange'>OSM Street</span>"        : osmMap,
      "<span style='color: blue'>1921 Baist detail</span>"  : baistDetail,
      "<span style='color: blue'>1921 Baist Key Map</span>" : baistKM,
      "<span style='color: green'>ESRI Satellite</span>"  : esriMap,
      "<span style='color: green'>Google Satellite</span>": google,
      "1908 Wood"  : wood1908,
      "1928 Hill"  : hillMap1928,
      "1908 LA [?]": mbMap,
      "1902 Street Guide" : street1902,
      "1894 Sanborn" : sanborn1894km1a,
      "1888 Sanborn" : sanborn1888km1a,
    };
    
    osm = L.tileLayer(osmUrl, { maxZoom: 18, attribution: osmAttrib }),
    myMap = L.map('map', { center: [34.05, -118.25], zoom: 13 }),
    drawnItems = L.featureGroup().addTo(myMap);
    // L.tileLayer('http://knobby.ws/crorestiles/bkm/{z}/{x}/{y}.png').addTo(myMap);
    
    L.control.layers( baseLayers, { 'drawlayer': drawnItems }, { position: 'topright', collapsed: false }).addTo(myMap);
    
    myMap.addControl(new L.Control.Draw({
        edit: { featureGroup: drawnItems, poly: { allowIntersection: false } },
        draw: { polygon: { allowIntersection: false, showArea: true } }
    }));
    
    // Uncaught SyntaxError: missing ) after argument list
    // myMap.on('draw:edited'; function (event) {
    //         var layers = event.layers;
    //         layers.eachLayer(function (layer) {
    //             //do whatever you want; most likely save back to db
    //         });
    //     });

    // myMap.on(L.Draw.Event.CREATED; function (e) {
   //     var type = e.layerType;
   //         layer = e.layer;
   //     if (type === 'marker') {
   //         // Do marker specific actions
   //     }
   //     // Do whatever else you need to. (save to db; add to map etc)
   //     myMap.addLayer(layer);
   //  });
    //   
    // myMap.on(L.Draw.Event.CREATED, function (event) {
 //        var layer = event.layer;
 //
 //        drawnItems.addLayer(layer);
 //    });
 </script>
       
</div>