<!-- The  middle column of show and edit. See also the functions in streets.js -->
<!--Last column is overlaymap_selector -->
<!-- Also for new, but line 31 throws an error at the moment. Maybe need to fix the leaflet.draw issue first-->
<!-- May end up also being overview. If so can bring back in overlaymap_selector TODO -->

<div class="col card"> <!-- the second column in the row set up in show.html.erb -->
  <p class="font-bold-red">If no map shows up when you choose a map, the map may not cover that region, so try another map. May need to select something in the right column first before the upper right box. <i>A little buggy yet.</i></p>
  <br/>

  <div id="map"></div>
    <script>
      var popupText = "&ge;<%= @street.date_earliest %><br><%= @street.previous_name %><br>&le;<%= @street.date_latest %><br><%= @street.current_name %>";
      // $(document).on("ready page:load", function() { // This doesn't work
      // The turbolinks:load part may not be needed https://stackoverflow.com/questions/18770517/rails-4-how-to-use-document-ready-with-turbo-links
      // $(document).on("turbolinks:load", function() { // This works the same as the one below
     //     showMap(popupText);
     //  });

      $(document).ready(function() {
         showMap(popupText); // showMap() is in app/javascript/src/streets.js
      });
    </script>

</div>  <!-- col middle -->

<!-- Trying to figure out how to put a link in the popup on the overview map ONLY Redundant on show, but then there it is mainly for edification.  -->
<!-- <br>< = link_to "Link", @street.id %> -->

<!-- This is supposed to be used by overview, but it is not?? -->
