<!-- The middle columns of edit. See also the functions in streets.js -->
<!-- Also for new?-->

<div class="col card">
  <p class="font-bold-red">If no map shows up when you choose a map, the map may not cover that region; so try another map.</p>
  <% if logged_in? %>
    <p>You can redraw the line and the only the latest one will be saved (even though the older line still shows).
  <% end %>

  <div id="map"></div>
  <script>    
    var popupText = "&ge;<%= @street.date_earliest %><br><%= @street.previous_name %><br>&le;<%= @street.date_latest %><br><%= @street.current_name %>";
    $(document).ready(function() {
       editMap(popupText); // editMap() is in assets/javascripts/streets.js
    });    
  </script>

</div>  <!-- col middle -->

<!-- < = render 'overlaymap_selector' %> Now put in in edit.html.erb or form_edit.html.erb-->

<!-- The only difference between this and map_and_control is editMap is called instead of showMap -->
