<div id="select-overlay" class="col-1"> <!-- the third column in show and edit. Second col in overview map -->
<!-- Trying to format the button from <label class="form-check-label"> /bootstrap-4.0.0-alpha.6/docs/components/forms.md -->
  <!-- Look at bootstrap-4.0.0-alpha.6/js/tests/visual/button.html Trial gave wonky results. would take work -->
  <!-- There is also some modified streets.scss that changes some of the appearance -->
    <fieldset class="overlay-selector"> <!-- form-group is Bootstrap -->
      <legend class="legend-overlay-selector">Historic Map Overlay</legend>
      <!-- Need to make stand out. border not doing anything look at cards in v4, but didn't help on simple try -->
      <p class="border-0 rounded overlay-selector">Select overlay map below. &#8595;<br>
                                  &nwarr;Select basemap using control on top right of the map itself.</p>
      <% @maps.each do |map| %>
        <div class="">
          <label class="">
            <%= radio_button_tag(:map_name, map.id, false, class: "") %>
            <%= label_tag(:map_name, map.name, class: "") %>
          </label>
        </div>
      <% end %>
      <br>
  </fieldset>
</div> <!-- end col-1 last of three columns in a row -->


<!-- What is created by the loop:

 <div class="form-check">
  <label class="form-check-label">
    <input type="radio" name="map_name" id="map_name_7" value="7" class="form-check-input" />
    <label for="map_name">1888 Sanborn</label>
  </label>
</div> -->

<!-- <div class="form-check disabled">
  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" disabled>
  <label class="form-check-label" for="exampleRadios3">
    Disabled radio
  </label>
</div> -->