<div id="select-overlay" class="col-1"> <!-- the third column in show and edit. Second col in overview map -->
<!-- Trying to format the button from <label class="form-check-label"> /bootstrap-4.0.0-alpha.6/docs/components/forms.md -->
  <!-- Look at bootstrap-4.0.0-alpha.6/js/tests/visual/button.html Trial gave wonky results. would take work -->
  <!-- There is also some modified streets.csss that changes some of the appearance -->
    <fieldset class="form-group">
      <legend>Historic Map Overlay</legend>
      <!-- Need to make stand out. border not doing anything look at cards in v4, but didn't help on simple try -->
      <p class="border-0 rounded">Select overlay map below. &#8595;<br>
                                  &nwarr;Select basemap using control on top right of the map itself.</p>
      <% @maps.each do |map| %>
        <label class="form-check-label">
          <%= radio_button_tag(:map_name, map.url, class: "form-check-input") %> <!-- Second item seems to be value , id: map.name results in _map_name_https etc, so note helpful-->
         
          <%= label_tag(:map_name, map.name) %>
        </label>
      <% end %>
      <br>
  </fieldset>
</div> <!-- end col-1 last of three columns in a row -->

<!-- Re: radio_button_tab by first field being the same for all (:name) only one can be selected. last item becomes id which JQuery can access. Comment is at bottom because was part of each label when placed directly under the radio_button_tag -->
