<p id="notice"><%= notice %></p>
<% provide(:title, "Drawing and Editing Historic Streets") %>
<h1>Drawing and Editing an Historic Street</h1>

<%= render 'form_edit', street: @street %>
<%= link_to 'Cancel', @street, class: 'btn btn-outline-primary' %> 
<%= link_to 'To Street List Without Saving', streets_path, class: 'btn btn-outline-primary' %>
