<h1>Editing Street</h1>
  <p>Use controls at right to select map. Then use the draw tool (upper right) to trace the portion of the street.</p>

<%= render 'form', street: @street %>

<%= link_to 'Cancel', @street %> |
<%= link_to 'To Street List Without Saving', streets_path %>
