<p id="notice"><%= notice %></p>
<% provide(:title, 'Table Entry') %>
<h1>Historical Street Names in Los Angeles</h1>

<h1>New Street</h1>



<br/>
<div class="btn btn-primary active">
	<%= link_to 'To List of Streets', streets_path %>
</div>

<br>	
<!-- < if logged_in? %> Add back % at beginning -->
<br>
<button type="button" class="btn btn-primary-outline" >
  <%= link_to 'New Street Entry using a form', new_street_path %>
</button>

<!-- end %> Add back % at beginning-->

