<p id="notice"><%= notice %></p>
<% provide(:title) %>
<h1>Historic Street Names</h1>

<!-- Formerly called big_map. Trying to show all the segments. Except none showing-->

<p>This is not working yet. And need to add all segments. Ultimately add a link so will go to 'show' of that segment </p>

<div class="row">
  <%= render 'map_and_control' %>
</div>
