<p id="notice"><%= notice %></p>
<% provide(:title) %>
<h1>Historic Street Names</h1>

<!-- Formerly called big_map. Trying to show all the segments.  -->

<p>This is not working yet. And need to add all segments. Ultimately add a link so will go to 'show' of that segment </p>

<div class="row">
<!-- This is just _map_and_control except calls overviewMap, but leaving as is until get the segments showing. -->
<!-- < = render 'map_and_control' %> would take care of the following div and its contents -->
<!-- except map_and_control calls showMap which only shows one segment. Need to build the iterative part -->
  <div class="col card">
    <p class="font-bold-red">If no map shows up when you choose a map, zoom out. Or the map may not cover that region, so try another map, particularly if not near downtown. TODO-put up a notice</p>
    <br/>

    <div id="map"></div>
      <script>
        // overviewMap() is in assets/javascripts/streets.js

        var popupText = "&le;< = @street.dateEarliest %><br>< = @street.prevName %><br>&ge;< = @street.dateLatest %><br>< = @street.currentName %>";
        // $(document).on("ready page:load", function() { // have to reload to get page to show
        // The turbolinks:load part may not be needed https://stackoverflow.com/questions/18770517/rails-4-how-to-use-document-ready-with-turbo-links
        $(document).on("turbolinks:load", function() {
           overviewMap();
        });
      </script>
</div>  <!-- col middle -->

<%= render 'basemap_selector' %>

</div> <!-- end row which is basically the page -->
