// Place all the styles related to the Streets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* google maps*/
/*#map {
        width: 500px;
        height: 500px;
      }
*/

//radio button and label were appearing on two lines. Didn't help
//input[type="radio"], label{
//     float:left;
//    }
//input{ // tried label still didn't work
// clear:left;
//}

//The following two still kept on two lines, but they are closer together and easy to figure out what goes with what
input[type='radio'],
input.radio {
  float: left;
  clear: none;
  margin: 2px 0 0 2px;
  //  display: inline-block; // didn't help
}
label {
  float: left;
  clear: none;
  display: block;
  //  display: inline; // didn't help at least in conjunction with line below
  padding: 2px 1em 0 0;
}

/* Leaflet*/
#map {
  height: 800px;
} // set to match right hand selector

/* set the size of the datepicker search control for Order Date*/
#ui-datepicker-div {
  font-size: 11px;
}

/* set the size of the autocomplete search control*/
.ui-menu-item {
  font-size: 11px;
}

.ui-autocomplete {
  font-size: 11px;
  position: absolute;
  cursor: default;
  z-index: 5000 !important;
}

// From crores5. Left in unneeded ones to show the possiblities$gray-light
.streets {
  list-style: none;
  margin: 0;
  li,
  td,
  th {
    overflow: auto;
    padding: 2px 6px;
    //   border-bottom: 1px solid $gray-light; these styles not available although they are in crores5
    //   border-left: 1px solid $gray-lighter; They are Bootstrap colors that don't seem to be available to this page
    border-bottom: 1px solid teal; // since above not available
    border-left: 1px solid #cacaca;
    border-right: 1px solid #cacaca;
  }
  .asc {
    background-image: url(/images/up_arrow.png);
  }
  .desc {
    background-image: url(/images/down_arrow.png);
  }
}

// atempting to limit height of coordinate list, but didn't clear. Maybe have some conflicts with Bootstrap
.json-extent {
  //  height: 70px;
  //  margin: 10px;
}

.given-name {
  text-align: right;
  padding-right: 2px;
}
.last-name {
  text-align: left;
  padding-left: 2px;
}

.extent-no {
  color: red;
}

.extent-yes {
  color: green;
}

// Trying to set width of field in new and edit
// #street_current_name {
//   max-width: 280px;
// }

// Following doesn't work. I have it set in the _form.html.erb
#street_current_name .field.current_name {
  width: 95%;
  size: 200px;
}

// Bootstrap controlling, but I would like to change to focus color to something other than dark blue
//button a{
// color: white;
//}
//
//.button:focus
//{
//    color:orange;
//}
//
//.button:visited a
//{
//    color:white;
//}

// Off because links look like regular text and this is supposedly controlling. Need to change in custom.scss too
//a:link,
//a:visited {
//   color: black;
//}

/* mouse over link */
a:hover {
  color: lightblue;
}

/* selected link */
a:active {
  color: hotpink;
}
