// Place all the styles related to the Streets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* google maps*/
/*#map {
        width: 500px;
        height: 500px;
      }
*/

/* Leaflet*/
#map { height: 600px; }

/* set the size of the datepicker search control for Order Date*/
#ui-datepicker-div { font-size:11px; }

/* set the size of the autocomplete search control*/
.ui-menu-item {
    font-size: 11px;
}

 .ui-autocomplete { font-size: 11px; position: absolute; cursor: default;z-index:5000 !important;}      

// From crores5. Left in unneeded ones to show the possiblities$gray-light
.streets {
  list-style: none;
  margin: 0;
  li, td, th {
   overflow: auto;
   padding: 2px 6px;
  //   border-bottom: 1px solid $gray-light; these styles not available although they are in crores5
  //   border-left: 1px solid $gray-lighter;
   border-bottom: 1px solid teal; // since above not available
   border-left: 1px solid #cacaca;
 }
   .asc {
     background-image: url(/images/up_arrow.png);
   }
   .desc {
     background-image: url(/images/down_arrow.png);
   }
}

.given-name {
 text-align: right;
 padding-right: 2px;
}
.last-name {
 text-align: left;
 padding-left: 2px;
}
 
.extent-no {
 color: red;
}
 
.extent-yes {
 color: green;
}

// Trying to set width of field in new and edit
// #street_currentName {
//   max-width: 280px;
// }

// Following doesn't work. I have it set in the _form.html.erb
#street_currentName
.field.currentName {
  width:95%;
  size: 200px;
}

button a:link{
 color: white;
}

a:link,
a:visited {
   color: black;
}

/* mouse over link */
a:hover {
   color: lightblue;
}

/* selected link */
a:active {
   color: hotpink;
}
