<footer class="footer">
  <small>
    The <a href="">Original material from</a>
    and <a href="">TBD</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",  about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://knobby.ws/">News</a></li>
    </ul>
  </nav>
</footer>